[user]
	name = ro
	email = ro.michi1129@gmail.com
[color]
	ui = auto
[core]
	autocrlf = false
[alias]
        co = checkout
        br = branch
        fp = fetch origin --prune
        logg = log --oneline --graph --decorate
